@charset "utf-8";

/*Для всего документа*/
* {
    margin: 0;
    padding: 0;
    outline: none;
}

hr {
    display: block;
    border: 0;
    height: 1px;
    border-top: 1px solid red;
    padding: 0;
}

html {height: 100%;}

/*Для шапки и низа сайта*/
header, footer {
    width: 98%;
    background-color: #fff;
    float: left;
}
header {
    padding: 1%;
    border-bottom: 2px solid silver;
}
#logo {
    font-size: 2em;
    font-family: Comic Sans MS, sans-serif;
}
.contact {
    font-size: 1.5em;
    font-family: Comic Sans MS, sans-serif;
    margin-left: 10px;
}
input[type=text].field {
    border-radius: 5px;
    border: 2px solid silver;
    padding: 5px;
    margin-left: 20px;
}
input[type=text].field:focus {
    border: 2px solid aqua;
}
footer img {
    float: left;
    width: 10%;
}
footer {
    height: auto;
    padding: 1%;
    border-top: 2px solid silver;
    margin-top: 10px;
    padding-bottom: 2%;
}

/*Для простого меню*/
#menu {
color: #666;
font-family: Comic Sans MS, sans-serif;
font-size: 1.7em;
}
#menu hr {
    width: 500px;
    max-width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

#menuHrefs a {
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
    color: aqua;
}
#menuHrefs a:hover {
    background-color: #efa3a3;
}
#wrapper {
    margin-top: 20px;
    float: left;
    width: 100%;
}
#wrapper #articles {
    float: left;
    width: 80%;
    margin-left: 10%;
}
#wrapper #articles article {
    float: left;
    width: 31%;
    margin-right: 2%;
    border: 1px solid silver;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: beige;
    min-height: 400px;
}
#wrapper #articles article img {
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid silver;
    margin-bottom: 10px;
}
#wrapper #articles article h3 {
    width: 90%;
    margin-left: 5%;
    font-weight: normal;
    font-size: 1.7em;
    color: grey;
}
#wrapper #articles article p {
    width: 80%;
    margin-left: 10%;
    text-indent: 1.7em;
}
#wrapper #articles article a {
    float: left;
    padding: 10px 5px;
    background-color: #d7fae6;
    margin-left: 5px;
    border-radius: 20px;
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
}
#wrapper #articles article a:hover {
    background-color: aquamarine;
}

/*Центральный блок сайта*/
#main_soc_block {
    width: 100%;
    padding: 2% 0;
    border-bottom: 2px solid silver;
    border-top: 2px solid silver;
    margin: 20px 0;
    float: left;
    background: url("../images/bg.jpg") no-repeat left;
    height: 300px;
}
#main_soc_block_in {
    text-align: center;
    padding: 1%;
    height: 100px;
    background-color: aliceblue;
    border: 1px solid silver;
    border-radius: 7px;
    width: 500px;
}
#main_soc_block_in a {
    float: left;
    padding: 5px 10px;
    background-color: green;
    border-radius: 6px;
    color: white;
    margin-left: 35%;
    margin-top: 3%;
    
}

/*Разделитель хедера и футера*/
#page-wrap:after {
    content: "";
    display: block;
} 

footer,#page-wrap:after {height: 10px}

#page-wrap {
    min-height: 93%;
    margin-bottom: -10px;
}

/*Для тега body*/
body {
    width: 100%;
    height: 100%;
    color: #333;
    background: #ffc7f4;
    font-size: 1em;
    font-family: "Segoe UI", sans-serif;
    line-height: 135%;
}

/*Для ссылок*/
a {
    color: aqua;
    text-decoration: none;
    transition: all.3s ease;
    -moz-transition: all.3s ease;
    -webkit-transition: all.3s ease;
    -ms-transition: all.3s ease;
}

a:hover {
    color: blue;
    text-decoration: none;
    transition: all.3s ease;
    -moz-transition: all.3s ease;
    -webkit-transition: all.3s ease;
    -ms-transition: all.3s ease;
}

a:active {
    color: red;
}
/*При выделении контента*/
::selection {background: red;color: white;}
::-moz-selection {background: red;color: white;}

/*Для изображений*/
img {
    max-width: 100%;
    height: auto;
    width: auto\9;
}

/*Позиционирование по правому боку*/
.right {float: right;}
/*Позиционирование по левому боку*/
.left {float: left;}
/*переход на новую строку*/
.clear {clear: both;}

/*для странички о нас*/
#about_us {
    width: 60%;
    float: left;
    background-color: beige;
    border-radius: 5px;
    border: 1px solid silver;
    box-sizing: border-box;
    padding: 1%;
}

#columnRight {
    width: 30%;
    float: left;
    margin-left: 5%;
    background-color: beige;
    border-radius: 5px;
    border: 1px solid silver;
    box-sizing: border-box;
    padding: 1%;
}

/*Стили для странички обратная связь*/
form {
    width: 60%;
    margin-left: 20%;
    float: left;
}
form input {
    background-color: azure;
    border-radius: 5px;
    border: 2px solid silver;
    padding: 5px;
    float: left;
    clear: both;
    margin-bottom: 10px;
    width: 40%;
}
form input:focus, form textarea:focus{border: 2px solid red;}

form label {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
form textarea {
    width: 60%;
    float: left;
    background-color: azure;
    border: 2px solid silver;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.7em;
}
form #send {
    float: left;
    padding: 10px;
    background-color: red;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 2em;
    color: white;
    cursor: pointer;
}
form #send:hover {
    background-color: yellow;
}