@charset "utf-8";

* {
    outline: none;
    margin: 0;
    padding: 0;
    
}
header, footer {
    width: 98%;
    background-color: white;
    min-height: 50px;
    
}
header {
    padding: 1%;
    border-bottom: 2px solid silver;
}
body {
    line-height: 135%;
    font-family: "Segoe UI", sans-serif;
    font-size: 1em;
    width: 100%;
    height: 100%;
    color: #333;
    background-color: rgba(0, 255, 20, 0.22);
    
}
#logo {

    font-size: 2em;
    font-family: Comic Sans MS,sans-serif;
}
.right {
    float: right;
}
.left {
    float: left;
}
footer img {
    width: 1em;
}
.contact {
    font-size: 1.5em;
    font-family: Comic Sans MS,sans-serif;
    margin-left: 15px;
}
input[type=text].field {
    border-radius: 5px;
    border: 2px solid silver;
    padding: 5px;
    margin-left: 20px;
}
input[type=text].field:focus {
    border: 2px solid #ffa427;
}
a:hover{
    color:red;
}
::selection {
    background: #5e71ff;
    color: white;
}
::-moz-selection {
    background: #5e71ff;
    color: white;
}
img {
  max-width: 100%;
  height: auto;
  width: auto\9;
}
a {
    text-decoration: none;
    color: #ffa427;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -webkit-transition: all.6s ease;
    -ms-transition: all.6s ease;
}
footer {
    padding: 1%;
    border-top: 2px solid silver;
    margin-top: 10px;
    
}